<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Product</h1>
    <form action="#" method="post" th:action="@{/showFormForUpdate/{id}}" th:object="${product}">
        <input type="hidden" th:field="*{ProductId}" />
        <input type="text" th:field="*{ProductName}" id="">
        <input type="text" th:field="*{price}" id="">
        <button type="submit"> Save Employee</button>
    </form>
    
</body>
</html>